<ion-view view-title="Game">
  <ion-content class="">
    <div class="row" style="padding: 0px">
      <div class="col" style="padding: 0px">
        <div class="outer-cell">
          <wtable myclass="'main-table unselectable'" input="game.displayedTable" clickfunc="clickedItTrans" scrw="scrw" headingcalss="'heading''"></wtable>
        </div>
      </div>
    </div>

    <ion-list>
    <ion-toggle ng-model="settingsTab.useOnlineGrid" ng-change="" ng-disabled="!isConnected" ng-show="settingsTab.online">
       <span> Use online grid </span><span class="spinner" ng-show="!!isConnected != !!settingsTab.online"><ion-spinner icon="spiral" class="spinner"></ion-spinner></span>
    </ion-toggle>
    


    <label class="item item-input item-select">
      <div class="input-label">
        Depth
      </div>
      
      <!--ng-init="settingsTab.desiredDepth=2"-->
      <select ng-model="settingsTab.desiredDepth">
        <option >2</option>
        <option >3</option>
        <option >4</option>
      </select>
    </label>
    
    <ion-toggle ng-model="settingsTab.publishGame" ng-change="" ng-disabled="false" ng-show="settingsTab.online">
       <span> Publish game </span><span class="spinner" ng-show="false"><ion-spinner icon="spiral" class="spinner"></ion-spinner></span>
    </ion-toggle>
    
    
    </ion-list>
    
    
<!-- 
    <ion-toggle  ng-model="$parent.multiThread">
        multiThread
    </ion-toggle>
    
    <ion-toggle  ng-show="$parent.multiThread" ng-model="$parent.fastMultiThread">
        multiThread: fast
    </ion-toggle>
    -->
  </ion-content>
</ion-view>

