<ion-view view-title="Game">
  <ion-content class="">
    <div class="row" style="padding: 0px">
      <div class="col" style="padding: 0px">
        <div class="outer-cell">
          <wtable myclass="'main-table unselectable'" input="game.displayedTable" clickfunc="clickedItTrans" scrw="scrw"></wtable>
        </div>
      </div>
    </div>
    <ion-item>
 
       <label class="item item-input item-select">
    <div class="input-label">
      Depth
    </div>
    <select ng-model="$parent.$parent.desiredDepth" ng-init="$parent.$parent.desiredDepth=3">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </label>
    
    </ion-item>
  </ion-content>
</ion-view>

